<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/af0109b2-e06b-4684-a9ff-3d9ba5385c48/resourcegroups/taskmanagerbr/providers/Microsoft.Web/sites/taskmanager-api</ResourceId>
    <ResourceGroup>taskmanagerbr</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://taskmanager-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>taskmanager-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>taskmanager-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$taskmanager-api</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="taskmanagerdb" Order="1" Enabled="False">
          <Destination Path="Data Source=lamaraoazure.database.windows.net;Initial Catalog=taskmanager;Persist Security Info=True;User ID=diego.lamarao;Password=#Diefer26;Application Name=EntityFramework" Name="Data Source=lamaraoazure.database.windows.net;Initial Catalog=taskmanager;Persist Security Info=True;User ID=diego.lamarao;Password=#Diefer26;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="taskmanager_api.Models.taskmanagerdb, taskmanager-api" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>True</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="taskmanagerdb-Web.config Connection String">
      <ParameterValue>Data Source=lamaraoazure.database.windows.net;Initial Catalog=taskmanager;Persist Security Info=True;User ID=diego.lamarao;Password=#Diefer26;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>